.app-sidebar{       
    height: 95vh;
    width: 350px;
    display: flex;      
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
}
.list-group{
    width: 80%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    margin-top: 50px;  
}


.list-group a{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    border-radius: 20px;
}

.list-group a:hover{
    background: #000; 
    color: #fff;
}

.list-group a p{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;
    margin: 0;
}
