.searchIcon{
    margin-left: 0px;
    margin-top: 12px;   
}

.searchBar{
    border: 2px solid white;
    background: rgb(241, 236, 236);
    position: absolute;
    height: 45px;
    width: 340px;
    border-radius: 25px;
}

.projectBox{
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background: rgb(241, 236, 236);
    padding: 20px;
    margin-right: 30px;
    border-radius: 25px;
}

.ProjectNumberComplete{
    font-size: 70px;
    font-weight: 50;
    font-family: Baloo Bhai;
    margin-left: 10px;
}

.ProjectNumberPending{
    font-size: 20px;
    font-weight: 100;   
    font-family: Baloo Bhai;
}