<div class="row mt-3">
  <div class="col-8">
    <span class="material-symbols-outlined searchIcon"> search </span>
    <input class="searchBar" size="30px" name="searchBar" required />
  </div>

  <div class="col-4">
    <span class="material-symbols-outlined ms-3 me-3">
      notifications_active
    </span>
    <span class="material-symbols-outlined"> account_circle </span>
  </div>
</div>

<div class="d-flex mt-3">
  <div class="projectBox">
    <span class="ProjectNumberComplete">11</span>
    <span class="ProjectNumberPending">Project Complete</span>
  </div>
  <div class="projectBox">
    <span class="ProjectNumberComplete">15</span>
    <span class="ProjectNumberPending"> Project Pending</span>
  </div>
</div>
