<div class="app-sidebar">
  <!-- <div class="sidebar-container"> -->
  <table class="sidebar-element-table">
    <tr class="sidebar-element-table-row">
      <td>
      </td>
      <td>Dashboard</td>
    </tr>
    <tr class="sidebar-element-table-row">
      <td></td>
      <td>Create Project</td>
    </tr>
    <tr class="sidebar-element-table-row">
      <td></td>
      <td>Assign Project</td>
    </tr>
    <tr class="sidebar-element-table-row">
      <td></td>
      <td>Gannt Chart</td>
    </tr>
  </table>
  <!-- </div> -->
</div>
