<div class="wrapper">
  <div class="section"></div>
  <div class="sidebar">
    <div class="profile">
      <img
        src="../../../assets/images/avatar.png"
        alt="profile_picture"
      />
      <h3>Josh Ray</h3>
      <p>Designer</p>
    </div>
    <ul>
      <li>
        <a
          routerLink="/developer/dashboard"
          class="list-group-item list-group-item-action"
        >
          <fa-icon [icon]="faHome"></fa-icon>
          <p>Dashboard</p>
        </a>
      </li>
      <!-- <li>
        <a
          routerLink="/developer/all-projects"
          class="list-group-item list-group-item-action"
        >
          <fa-icon [icon]="faProjectDiagram"></fa-icon>
          <p>All Projects</p></a
        >
      </li> -->
      <li>
        <a
          routerLink="/developer/add-developer"
          class="list-group-item list-group-item-action"
        >
          <fa-icon [icon]="faProjectDiagram"></fa-icon>
          <p>Add Developer</p></a
        >
      </li>
      <li>
        <a
          routerLink="/developer/add-estimation"
          class="list-group-item list-group-item-action"
        >
          <fa-icon [icon]="faProjectDiagram"></fa-icon>
          <p>Add Estimation </p></a
        >
      </li>

      <li>
        <a
          routerLink="/developer/priority-based"
          class="list-group-item list-group-item-action"
        >
          <fa-icon [icon]="faProjectDiagram"></fa-icon>
          <p>Priority based project </p></a
        >
      </li>

      
    </ul>
  </div>
</div>

<!-- <div class="app-sidebar">
  <div class="list-group">
    <a
      routerLink="/developer/dashboard"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faHome"></fa-icon>
      <p>Dashboard</p>
    </a>
    <a
      routerLink="/developer/all-projects"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faProjectDiagram"></fa-icon>
      <p>All Projects</p></a
    >
    <a
      routerLink="/developer/add-developer"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faProjectDiagram"></fa-icon>
      <p>Add developer</p></a
    >
  </div>
</div> -->
