<div class="create-project-table-container">
    <h1 >Project list</h1>
    <table class="table table-bordered table-striped border-dark">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Description</th>
          <th>Assigned developers</th>
          <th>Ending date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Project name">Alfreds Futterkiste</td>
          <td data-label="Description">Germany</td>
          <td data-label="Assigned developers">Maria Anders</td>
          <td data-label="Starting date">5th Dec</td>
          <td data-label="Action"><a href="#" class="btn">Edit</a></td>
        </tr>
        <tr>
          <td data-label="Project name">Alfreds Futterkiste</td>
          <td data-label="Description">Germany</td>
          <td data-label="Assigned developers">Maria Anders</td>
          <td data-label="Starting date">5th Dec</td>
          <td data-label="Action"><a href="#" class="btn">Edit</a></td>
        </tr>
        <tr>
          <td data-label="Project name">Alfreds Futterkiste</td>
          <td data-label="Description">Germany</td>
          <td data-label="Assigned developers">Maria Anders</td>
          <td data-label="Starting date">5th Dec</td>
          <td data-label="Action"><a href="#" class="btn">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  