 <!-- <div class="container">
  <div class="container1">
    <div class="projectIcon"><i class="fa-solid fa-list-check fa-3x"></i></div>
    <div class="projectNumber">Project-1</div>
    <div class="percentage">
      <i class="fa-duotone fa-spinner-third fa-3x"></i>
    </div>
    <div class="button"><button class="button">Continue</button></div>
  </div>
  <div class="container2">
    <div class="icon1"><i class="fa-solid fa-circle-arrow-left fa-3x"></i></div>
    <div class="icon2">
      <i class="fa-solid fa-circle-arrow-right fa-3x"></i>
    </div>
  </div>
</div>  -->

<div class="container">
  <div class="container1">
    <div class="projectIcon"><i class="fa-solid fa-list-check fa-3x"></i></div>
    <div class="projectNumber">Project-1</div>
    <div class="percentage">
      <i class="fa-duotone fa-spinner-third fa-3x"></i>
    </div>
    <button class="button">Continue</button>
  </div>
  <div class="container2">
    <i class="fa-solid fa-circle-up fa-2x icon1"></i>
  
    <i class="fa-solid fa-circle-down fa-2x icon2"></i>
  </div>
</div>


 <!-- <div class="container">
  <div class="container1">
    <div class="projectIcon"><i class="fa-solid fa-list-check fa-3x"></i></div>
    <div class="projectNumber">Project-1</div>
    <div class="percentage">
      <i class="fa-duotone fa-spinner-third fa-3x"></i>
    </div>
    <button class="button">Continue</button>
  </div>
  <div class="container2">
    <i class="fa-solid fa-circle-up fa-2x icon1"></i>

    <i class="fa-solid fa-circle-down fa-2x icon2"></i>
  </div>
</div> --> 
