<div class="row">
  <div class="col-3">
    <app-developer-sidenav-bar></app-developer-sidenav-bar>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"><app-developer-top-bar></app-developer-top-bar></div>
      </div>
      <div class="col-7 mt-3">
        <app-developer-page-header></app-developer-page-header>
      </div>
      <div class="col-5 mt-3"><app-top-right></app-top-right></div>
    </div>

    <div class="row">
      <div class="col-9 singleProject">
        <app-developer-single-project></app-developer-single-project>
      </div>
    </div>

    <div class="row">
      <div class="col-12 projectList"></div>
    </div>
  </div>
</div>
