/*bibhas */
.fcontainer {
  display: flex;
  background: rgb(241, 236, 236);
  display: flex;
  margin: 20px;
  width: 640px;
  height: 160px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin-left:0px;
}

img {
  width: 180px;
  height: 200px;
  display: flex;
  margin-left: 80px;
  margin-top: -40px;
}
/* .item1{
      order: 3;
      /* flex-grow: 3; */
/* flex-shrink: 2; */
/* align-self: center;
  } */
.devName {
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}
.devBio {
  font-family: cursive;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

/* sadia */
.container {
  width: 800px;
  height: 100px;
  display: flex;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  width: 600px;
  background: rgb(241, 236, 236);
  margin-right: 20px;
  border-radius: 25px;
  font-size: 16px;
  margin-left: -12px;
  margin-bottom: 50px;
}
.container2 {
  width: 200px;
  display: flex;
  margin-top: 8px;
}
.projectIcon {
  display: flex;
  align-items: center; 
  width: 100px;
  height: 50px; 
  border-radius: 20px;
}
.projectNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Baloo Bhai;
  font-size: 20px;
  width: 70px;
  height: 70px;
  margin: 12px;
}
.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gainsboro; */
  width: 70px;
  height: 70px;
  margin: 12px;
}
.button {
  padding: 8px 35px 8px 35px;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}
.button:hover {
  color: black;
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  font-weight: 600;
}
.icon1 {
  
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 4px;
  margin-right: 200px;
  
}
.icon2 {
  
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  margin-top: 45px;
  color: #000000;
  margin-right: 120px;
  margin-left: -205px;
}
