<div class="container-fluid project-manager-page">
  <app-sidebar></app-sidebar>
  <div class="view-assign-project">
    <div class="assign-project-form-div">
      <br />

      <form
        (ngSubmit)="onSubmit(assignProject)"
        #assignProject="ngForm"
        class="assign-project-form"
      >
        <div class="assign-project-form-row">
          <label>Project Name:</label>

          <select name="projectName" ngModel>
            <option value="" selected disabled hidden>Choose here</option>
            <option
              *ngFor="let project of projectList"
              [ngValue]="project.projectName"
            >
              {{ project.projectName }}
            </option>
          </select>
        </div>

        <div class="assign-project-form-row">
          <label>Developer Name:</label>
          <select name="developerName" ngModel>
            <option value="" selected disabled hidden>Choose here</option>
            <option
              *ngFor="let developer of developerList"
              [ngValue]="developer.developerName"
            >
              {{ developer.developerName }}
            </option>
          </select>
        </div>

        <div class="assign-project-form-row">
          <label>Task</label>
          <input name="task" ngModel />
        </div>
        <div class="assign-project-form-row">
          <button class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
    <div class="assign-project-form-div">
      <h1 align="center">Existing Projects</h1>
      <br />
      <table class="table table-bordered table-striped border-dark">
        <thead>
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Developer</th>
            <th scope="col">Task</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskList">
            <td>{{ task.projectName }}</td>
            <td>{{ task.developerName }}</td>
            <td>{{ task.taskName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
