<div class="container-fluid project-manager-page">
  <app-sidebar></app-sidebar>
  <div class="view-assign-project">
    <div class="assign-project-form-div">
      <br />

      <form class="assign-project-form">
        <div class="assign-project-form-row">
          <div class="assign-project-form-col">
            <label>Project Name:</label>

            <select>
              <option>Default select</option>
            </select>
          </div>
          <div class="assign-project-form-col">
            <label>Developer Name:</label>
            <select>
              <option>Default select</option>
            </select>
          </div>
        </div>

        <div class="assign-project-form-row">
          <div class="assign-project-form-col">
            <label>Ratio</label>
            <input />
          </div>
          <div class="assign-project-form-col">
            <label>Task</label>
            <input />
          </div>
        </div>
        <div class="assign-project-form-row">
          <button class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
    <div class="assign-project-form-div">
      <h1 align="center">Existing Projects</h1>
      <br />
      <table class="table table-bordered table-striped border-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project</th>
            <th scope="col">Developer</th>
            <th scope="col">Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
