<div class="form-container">
  <form class="create-project-form" action="/new-project">
    <div class="create-project-form-row">
      <label>Project Name</label>
      <input placeholder="Input the project name" class="form-control" />
    </div>
    <div class="create-project-form-row">
      <label>Priority</label>
      <input placeholder="Project priority" class="form-control" />
    </div>

    <div class="create-project-form-row">
      <label>Project Description</label>
      <textarea placeholder="Write something.." class="form-control"></textarea>
    </div>
    <div class="create-project-form-row">
      <label>Ending date</label>

      <input type="date" class="form-control" />
    </div>
    <div class="create-project-form-row">
      <button class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>
