<div class="app-sidebar">
  <div class="list-group">
    <a
      routerLink="/project-manager/dashboard"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faHome"></fa-icon>
      <p>Dashboard</p>
    </a>
    <a
      routerLink="/project-manager/create-project"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faProjectDiagram"></fa-icon>
      <p>Create Project</p></a
    ><a
      routerLink="/project-manager/assign-project"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
      <p>Assign Project</p></a
    >
    <a
      routerLink="/project-manager/edit-ratio"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faPenToSquare"></fa-icon>
      <p>Edit Ratio</p>
    </a>
    <a
      routerLink="/project-manager/gantt-chart"
      class="list-group-item list-group-item-action"
    >
      <fa-icon [icon]="faChartSimple"></fa-icon>
      <p>Gannt Chart</p>
    </a>
  </div>
</div>
