.project-summary{
    width: 1100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.project-summary-table{
    width: 1050px;        
    border-radius: 30px;
}   
