<div class="project-summary">
  <h1>Project summary</h1>
  <table
    class="project-summary-table table table-bordered table-striped border-dark"
  >
    <tbody>
      <tr>
        <th class="col">Client Name</th>
        <th>Team Members</th>
        <th>Project Name</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Alve</td>
        <td>Developer1,Developer2,Devloper3</td>
        <td>Android app</td>
        <td>Done</td>
      </tr>
      <tr>
        <td>Antu</td>
        <td>Developer1,Developer2</td>
        <td>Website</td>
        <td>Running</td>
      </tr>
      <tr>
        <td>Badhon</td>
        <td>Developer1,Developer2</td>
        <td>IOS App</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Bibhas</td>
        <td>Developer1,Developer2</td>
        <td>Weather App</td>
        <td>Running</td>
      </tr>
      <tr>
        <td>Alve</td>
        <td>Developer1,Developer2</td>
        <td>Project 2</td>
        <td>Done</td>
      </tr>
      <tr>
        <td>Alve</td>
        <td>Developer1,Developer2</td>
        <td>Project 2</td>
        <td>Done</td>
      </tr>
      <tr>
        <td>Alve</td>
        <td>Developer1,Developer2</td>
        <td>Project 2</td>
        <td>Done</td>
      </tr>
    </tbody>
  </table>
</div>
