.project-statistic{
    width: 1100px;
    height: 250px;
}
.project-statistic-content{
    width: 1100px;
}
.project-statistic-content-number{
    font-size: 50px;
    font-weight: bold;
}
.vl {
    border-left: 6px solid #797474;
    height: 100px;
  }