<div
  class="project-statistic d-flex flex-column justify-content-around align-items-center"
>
  <h2>Project Statistic</h2>
  <div
    class="project-statistic-content d-flex justify-content-around align-items-center"
  >
    <div>
      <p>Total Project</p>
      <p class="project-statistic-content-number">80</p>
    </div>
    <div class="vl"></div>
    <div>
      <p>On Going</p>
      <p class="project-statistic-content-number">32</p>
    </div>
    <div class="vl"></div>
    <div>
      <p>Pending</p>
      <p class="project-statistic-content-number">12</p>
    </div>
  </div>
</div>
