*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0 ;
	font-family: Baloo Bhai;
    border-radius: 25px;
}

body{
	background: black;
}

.wrapper .sidebar{
	background: rgb(241, 236, 236);
	position: fixed;
	top: 70px;
	left: 20px;
	width: 300px;
	height: 85%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
    align-items: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 120px;
	height: 120px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
	margin: 0 auto;
    align-items: center;
}

.wrapper .sidebar .profile h3{
	color: black;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: black;
	font-size: 14px;
}

.wrapper .sidebar ul li a{
    margin-bottom: 10px;
	display: block;
	padding-bottom: 15px;
    padding-top: 15px;
	border-radius: 50px;
	color:black;
	font-size: 16px;
	position: relative;
    box-sizing: 5px;
    align-items: center;
    font-family: Baloo Bhai;
    justify-content: center;
    text-align: center;
}

.wrapper .sidebar ul li a .icon{
	color: black;
	width: 30px;
	display: inline-block;
}

 
.wrapper .sidebar ul li a.active{
	color: white;
    
	background:black;

}
.wrapper .sidebar ul li a:hover
{
	color: white;
    
	background:black;
    
}
.wrapper .sidebar ul li a.active .icon{

}
.wrapper .sidebar ul li a:hover .icon{
	color: white;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: black;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}

 

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

form .input-box {
	margin-bottom: 0px;
	width: 465px;
   
  }
  form .input-box {
	display: block;
	font-weight: 500;
	margin-bottom: 0px;
  }
  .input-box{
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
  }
  form .input-box:focus, .input-box:valid {
	border-color: #9b59b6;
  }
  
  form .input-box {
	height: 45px;
	margin: 5px 0;
  }

  .submit{
	height: 40px;
  width: 120px;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }