* {
  box-sizing: border-box;
}
 body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.selectTask{
  font-family: Baloo Bhai;
  margin-top: 30px;
  padding-top: 30px;
}
.bodyproject{
  font-family: Baloo Bhai;
  margin-top: 10px;
  padding-top: 10px;


}
.devname{
  font-family: Baloo Bhai;
  margin-top: 10px;
  padding-top: 30px;
}

.Allprojects{
  font-family: Baloo Bhai;
  font-size: 40px;
}

.container {
  max-width: 500px;
  width: 80%;
  height: 280px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  
  left: 0;
  bottom: 0;
  height: 3px;
  width: 120px;
  border-radius: 5px;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0px 0;
}
form .input-box {
  margin-bottom: 0px;
  width: 465px;
 
}
 .input-box {
  display: block;
  font-weight: 500;
  margin-bottom: 0px;
}
.input-box{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

 .btn-success {
	height: 40px;
	width: 120px;
	border-radius: 25px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: black;
	font-family: Roboto;
  margin-top: 20px;
	
}

.btn-success:hover {
  color: black;
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.selcet-box{
  width: 100px;
}