<div class="dashboard-projects">
  <div>
    <h4><span class="Allprojects">Add Estimation Times</span></h4>
  </div>

  <div>
    <h5>Select Employee</h5>
    <form
      (ngSubmit)="onDeveloperSubmit(developersAssignProject)"
      #developersAssignProject="ngForm"
    >
      <div>
        <select class="input-box" name="developerName" ngModel>
          <option value="" selected disabled hidden>Choose Employee</option>
          <option
            *ngFor="let developer of developerList"
            [ngValue]="developer.developerName"
          >
            {{ developer.developerName }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div class="mt-3">
    <h5>Select task</h5>
    <form (ngSubmit)="onEstimateSubmit(addEstimation)" #addEstimation="ngForm">
      <select class="input-box" name="projectName" ngModel>
        <option value="" selected disabled hidden>Choose task</option>
        <option *ngFor="let list of developerProjectList" [ngValue]="list.projectName">
          {{
           list.projectName + "  " + list.taskName
          }}
        </option>
      </select>
      <input
        class="input-box"
        ngModel
        name="estimation"
        type="number"
        placeholder="estimated days"
      />
      <input
        class="input-box"
        ngModel
        name="startingDate"
        type="date"
        placeholder="date"
      />
      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
